<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="w-50">
    <select class="form-select" [(ngModel)]="selected_area">     
      <option value="otter_cliffs">Otter Cliffs</option>
      <option value="south_otter">South Otter</option>
      <option value="ocean_drive">Ocean Drive</option>
      <option value="cooksey_drive">Cooksey Drive</option>
      <option value="south_wall">South Wall</option>
      <option value="great_head">Great Head</option>
      <option value="south_bubs">South Bubble</option>
      <option value="pebble_beach">Pebble Beach</option>
    </select>
  </div>
</nav>

<hr>

<ul>
  <li  *ngFor="let r of routes[selected_area]">
      <strong>{{ r.name }} ({{ r.grade }})</strong>
      <br>
      
      <div *ngIf="r.pic.length == 0">
        <p>no picture for this one</p>
      </div>
      <div *ngFor="let p of r.pic">
        <img src="{{ base_url + p }}"><br>
      </div>

      <app-anchor-modal class="modal-button" [name]="r.name" [base_url]="base_url" [pics]="r.anchor"></app-anchor-modal>
      <app-beta-modal class="modal-button" [name]="r.name" [beta]="r.beta"></app-beta-modal>
  </li>
</ul>