<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="w-50">
    <select class="form-select" [(ngModel)]="selected_area">     
      <option value="otter_cliffs">Otter Cliffs</option>
      <option value="south_otter">South Otter</option>
      <option value="ocean_drive">Ocean Drive</option>
      <option value="cooksey_drive">Cooksey Drive</option>
      <option value="canyon_cliffs">Canyon Cliffs</option>
      <option value="south_wall">South Wall</option>
      <option value="great_head">Great Head</option>
      <option value="south_bubs">South Bubble</option>
      <option value="pebble_beach">Pebble Beach</option>
    </select>
  </div>
</nav>

<hr>

<ul *ngFor="let r of routes[selected_area]">

  <!-- area label -->
  <li class="area-label" *ngIf="r.hasOwnProperty('isArea')">
    <br>
    <strong>{{ r.name }}</strong>
    <hr>
  </li>

  <!-- route description -->
  <li *ngIf="r.hasOwnProperty('grade')">
    {{ r.name }} ({{ r.grade }})
    <br>
    
    
    <app-pic-modal class="modal-button" [name]="r.name" [base_url]="base_url" [pics]="r.pic" [ptext]="r.pic_txt"></app-pic-modal>
    <app-anchor-modal class="modal-button" [name]="r.name" [base_url]="base_url" [pics]="r.anchor" [ptext]="r.anchor_txt"></app-anchor-modal>
    <app-beta-modal class="modal-button" [name]="r.name" [beta]="r.beta"></app-beta-modal>
  </li>
</ul>