<title>{{title}}</title>

<select name="crags" id="crags" [(ngModel)]="selected_area">     
  <option value="otter_cliffs">Otter Cliffs</option>
  <option value="south_otter">South Otter</option>
  <option value="ocean_drive">Ocean Drive</option>
  <option value="cooksey_drive">Cooksey Drive</option>
  <option value="south_wall">South Wall</option>
  <option value="great_head">Great Head</option>
  <option value="south_bubs">South Bubble</option>
  <option value="pebble_beach">Pebble Beach</option>
</select>

<hr>

<ul>
  <li  *ngFor="let r of routes[selected_area]">
      {{ r.name }} ({{ r.grade }}) <br>
      {{ r.site }} managed <br>
      40m rope: {{ r.fortym }} <br>
      picture? <br>
      beta: {{ r.beta }}
  </li>
</ul>